$containerWidth: 992px;
$baseFontSize: 18px;

//colours
$blue: #61C4D9;
$green: #497870;
$black: #292929;
$lightgrey: #F8FAF9;
$white: #fff;
$grey: #666;
$pinegreen: #365A49;

//points-menu
$z-points-menu: 100;


//normalize
@import url("./normalize.css");

//setups
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500;700&display=swap');
//font-family: 'Alegreya Sans', sans-serif;//
@import './layout.scss';

//components
@import './components/hero.scss';
@import './components/header.scss';
@import './components/features.scss';
@import './components/feature.scss';
@import './components/btn.scss';
@import './components/section.scss';
@import './components/headline.scss';
@import './components/benefits.scss';
@import './components/benefit.scss';
@import './components/benefits-section.scss';
@import './components/feedback.scss';
@import './components/feedback-section.scss';
@import './components/interactive-avatar.scss';
@import './components/order-section.scss';
@import './components/form.scss';
@import './components/radio.scss';
@import './components/points-menu.scss';