.benefits {
    display: flex;
}

.benefits__item {
    flex: 1;
    padding: 0 1%;
    position: relative;

    &::before {
        content: url("../img/benefits/benefit_separator.svg");
        position: absolute;
        top: 55px;
        right: 0;
        transform: translate(50%);
    }

    &:first-child {
        padding-left: 0;
    }

    &:last-child {
        padding-right: 0;

        &::before {
            display: none;
        }
    }
}