.feature {
    display: flex;
    align-items: flex-start;
    padding-right: 10px;

     &:last-child {
         padding-right: 0;
     }

     &__icon {
        width: 40px;
        margin-right: 10px;
     }

     &__text {
        font-size: 16px;
        max-width: 75px;
        line-height: 1.2;
     }
}
