.feedback__display {
    position: relative;
    background: $lightgrey;
    padding: 42px;
    margin-bottom: 15px;
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        display: block;
        width: 83px;
        height: 83px;
        border-radius: 50%;
        background: #fff;
        left: 50%;
        transform: translate(-50%);
        top: -60px;
    }

    &::after {
        position: absolute;
        content: url("../img/feedback/feedback_bckgr.svg");
        right: 0;
        top: 5%;
    }
}

.feedback__display-content {
    display: flex;
    align-items: center;
}

.feedback__avatar {
    width: 253px;
    height: 264px;
}

.feedback__avatar-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.feedback__text-content {
    flex: 1;
    margin-left: 40px;
}

.feedback__title {
    font-size: 27px;
    font-weight: 700;
    color: $black;
    padding-bottom: 12px;
}

.feedback__description {
    padding-bottom: 25px;
    padding-right: 170px;
    padding: 0 170px 25px 0;
}

.feedback__author {
    color: $black;
    font-weight: 500;
}

.feedback__switcher {
    display: flex;
    justify-content: center;
}