.hero {
    background: url("../../img/backg/leafs_bckg.svg") right bottom no-repeat;
    background-color: $blue;
    height: 100vh;
    min-height: 650px;
    color: $white;
    position: relative;

    &:before {
        position: absolute;
        content: url("../../img/backg/leaf_blur.svg");
        bottom: -40px;
        left: 2%;
    }

    &:after {
        position: absolute;
        content: url("../../img/backg/leaf_big.svg");
        right: 0;
        top: 65%;
    }

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        padding: 24px 0 50px;
        background: url("../../img/backg/candybar.svg") right center / 50% auto no-repeat;
    }

    &__text-section {
        width: 50%;
    }

    &__main-title {
        font-size: 48px;
        font-weight: 700;
        line-height: 1.2;
        text-transform: uppercase;
        padding-bottom: 15px;
    }

    &__main-subtitle {
        font-size: 21px;
        padding-bottom: 45px;
        padding-right: 20%;
    }

}